{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1>Inventory</h1>
    <hr>
    <div class="d-flex flex-wrap container">
        <a class="text-decoration-none text-dark mx-2 hover-links"
            href="{% url 'inventory:equip-create' %}">Add Equipment</a>
        <a class="text-decoration-none text-dark mx-2 hover-links"
            href="{% url 'inventory:equip-create' %}">Add Owner</a>
        <a class="text-decoration-none text-dark mx-2 hover-links"
            href="{% url 'inventory:equip-create' %}">Add Category</a>
    </div>
    <hr>
    <div class="row container">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Serial Number</th>
                    <th scope="col">Issued</th>
                </tr>
            </thead>
            <tbody>
                {% for equip in object_list %}
                <tr onclick="window.location='{{equip.get_absolute_url}}';">
                    <th scope="row">{{forloop.counter}}</th>
                    <td title="type">{{equip.category}}</td>
                    <td title="serial number">{{equip.serial_number}}</td>
                    <td title="date issued">{{equip.date_issued}}</td>
                </tr>
                {% empty %}
                <div class="text-center">
                    <a class="btn btn-outline-dark py-3"
                        href="{% url 'inventory:equip-create' %}">Add
                        Equipment</a>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}